<div class="row">
  <h1 class="col-12 text-center">Upcoming <%= pluralize(@events.upcoming.count, "events") %></h1>
  <%= render  @events.upcoming %>
  <h1 class="col-12 text-center">Previous <%= pluralize(@events.previous.count, "events") %></h1>
  <%= render  @events.previous %>
</div>
